html, body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align-all: center;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
main figure{
    height: 100%;
}
h1{
    text-align: center;
    font-family: 'Harlow Solid Italic'
}
body{
    background-color: antiquewhite;
}

.button{
    background-color: darkred;
    border: black;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}